{% load static %}

<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Portfolio responsive complete</title>
    </head>
    <body>
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">{{home.nombre}}</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#entra" class="nav__link">Entra</a></li>
                        <li class="nav__item"><a href="#quees" class="nav__link">¿Qué es?</a></li>
                        <li class="nav__item"><a href="#incidencias" class="nav__link">Incidencias</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contacta</a></li>
                        <li class="nav__item"><a href="{% url 'registros'%}" class= "nav__link"> Registros</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>{{home.greetings1}}</span><br></h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Desliza</a>
                    </div>

                    /*<img src="{{home.picture.url}}" alt="" class="home__img">*/
                </div>
            </section>

        
            <!----===== ABOUT =====-->
            <section class="about section" id="entra">
                <h2 class="section-title">Entra</h2>

                <div class="about__container bd-grid">
                    <div>
                        <h2 class="about__subtitle"> Entra en tu perfil utente</h2>
                        <span class="about__profession">Introduce nombre y contraseña con los que creaste la cuenta</span>
                        <!--<img src="{%static 'assets/img/perfil.png'%}" alt="">-->
                        <form action ="{% url 'login' %}" method = 'post'>
                            {% csrf_token %}
                            <input type="nombre" name="nombre" placeholder="Nombre">
                            <input type="password" name="contrasena" placeholder="Contraseña">
                            <input type="submit" value="Login">
                        </form>
                    </div>

                    <div>
                        <h2 class="about__subtitle">Crear usuario</h2>
                        <span class="about__profession">Introduce tus datos para crear una cuenta</span>
                        <form action="{% url 'crear_usuario' %}" method="post">
                        <!-- para prevenir ataques de falsificacion-->
                            {% csrf_token %}
                            <input type="text" name="nombre" placeholder="Nombre">
                            <input type="text" name="apellido" placeholder="Apellido">
                            <input type="email" name="correo_electronico" placeholder="Correo electrónico">
                            <input type="password" name="contrasena" placeholder="Contraseña">
                            <input type="submit" value="Crear usuario">
                        </form>
                      
                     
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="quees">
                <h2 class="section-title">¿Qué es Demeter?</h2>

                <div class="skills__container bd-grid">
                    <div class="skills__box">
                        <h3 class="skills__subtitle">Gestion de actividades agricolas</h3>
                        <span class="skills__name">Fichaje</span>
                        <span class="skills__name">Incidencias</span>
                        <span class="skills__name">Almacenamiento de informacion</span>
                        <span class="skills__name">Automatizacion</span>
                        <span class="skills__name">Control de maquinaria</span>
                        <span class="skills__name">Vue</span>
                        
                        <h3 class="skills__subtitle">Terrenos asociados</h3>
                        <span class="skills__name">Cabecicos</span>
                        <span class="skills__name">Arneva</span>
                        <span class="skills__name">La mota</span>
                        <span class="skills__name">Urchillo</span>
                        <span class="skills__name">San Pedro</span>
                    </div>

                    <div class="skills__img">
                        <img src="{%static 'assets/img/demeter.jpeg' %}" alt="">
                    </div>
                </div>
            </section>

            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="incidencias">
                <h2 class="section-title">Incidencias</h2>

                <div class="portfolio__container bd-grid">
                    <div class="portfolio__img">
                        <img src="{%static 'assets/img/work1.jpg'%}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{%static 'assets/img/work2.jpg'}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{%static assets/img/work3.jpg'}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{%static 'assets/img/work4.jpg'%}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{%static 'assets/img/work5.jpg'%}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                    <div class="portfolio__img">
                        <img src="{%static 'assets/img/work6.jpg'%}" alt="">

                        <div class="portfolio__link">
                            <a href="#" class="portfolio__link-name">View details</a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contacta</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <span class="contact__text">salygermangarcia@msn.com</span>
                        <span class="contact__text">gallisergiogs@gmail.com</span>

                        <h3 class="contact__subtitle">TELEFONO/PHONE</h3>
                        <span class="contact__text">XXXXXXXX</span>

                        <h3 class="contact__subtitle">PAIS</h3>
                        <span class="contact__text">España</span>
                    </div>

                    <form action="" class="contact__form">
                        <div class="contact__inputs">
                            <input type="text" placeholder="Name" class="contact__input">
                            <input type="mail" placeholder="Email" class="contact__input">
                            <input type="asunto" placeholder="Asunto" class="contact__input">

                        </div>

                        <textarea name="" id="" cols="0" rows="10" class="contact__input"></textarea>

                        <input type="submit" value="Enviar" class="contact__button">
                    </form>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">DEMETER</h2>
                    <p class="footer__text">Aplicacion web-movil con diseño responsive para la gestion de terrenos agricolas</p>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Entra</a></li>
                        <li><a href="#about" class="footer__link">Que es</a></li>
                        <li><a href="#skills" class="footer__link">Fichaje</a></li>
                        <li><a href="#portfolio" class="footer__link">Incidencias</a></li>
                        <li><a href="#Contact" class="footer__link">Contacto</a></li>
                    </ul>
                </div>
                
                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="#" class="footer__social"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__social"><i class='bx bxl-twitter' ></i></a>
                </div>


            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{%static 'assets/js/main.js' %}"></script>
    </body>
</html>